<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-12 p-0">
        <section class="banner-slider">
          <div id="carouselExampleIndicators" class="carousel slide"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
              <button type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for block in section.blocks %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ block.settings.slide_image | img_url: 'master' }}" class="d-block w-100"
                  alt="...">
                <div class="carousel-caption">
                  <h5>{{ block.settings.slide_title }}</h5>
                  <p>Explore different categories. Find the best deals.</p>
                  <button class="btn btn-primary">Shop Now</button>
                </div>
              </div>
            {% endfor %}

            </div>

        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.index1 }}"></button>

            <button class="carousel-control-prev" type="button"
              data-bs-target="#carouselExampleIndicators" data-bs-slide="{{ forloop.index0 }}">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
              data-bs-target="#carouselExampleIndicators" data-bs-slide="{{ forloop.index0 }}">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>


{% schema %}
{
  "name": "ttt banner Section",
  "max_blocks": 3,
  "settings": [],
  "blocks": [{
    "type": "column",
    "name": "slider",
    "settings": [  
        {
           "type": "image_picker",
           "id": "slide_image",
           "label": "Image"
         }, 
         {
            "type": "text",
            "id":"slide_title",
            "label":"Title"
         }
        ]
  }],
  "presets": [
    {
      "name": "ttt-header-banner"
    }
  ]
}
{% endschema %}
